/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
.header__container {
    min-height: 75vh;
    min-width: 100vw;
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('/assets/img/background.jpg') center center/cover no-repeat;
    position: relative;
    overflow: hidden;
}

/* Main Nav */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    font-family: 'Chango', cursive, 'san-serif';
}

.main-nav__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav__logo-container i {
    font-size: 2.5rem;
    margin-right: 1rem;
    color: #F44336;
}

.main-nav__logo-container h1 {
    font-size: 3rem;
    color: #8BC34A;
    text-transform: uppercase;
}

.main-nav__nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.main-nav__nav-items li a {
    text-decoration: none;
    color: white;
    padding: 1rem 2.5rem;
    font-size: 2.25rem;
}

.main-nav__mobile-toggle {
    cursor: pointer;
    color: white;
    font-size: 2.75rem;
    padding: 1rem;
    display: none;
}

/* Mobile Nav */
.mobile-nav {
    background-color: white;
    min-height: fit-content;
    position: relative;
    z-index: 999;
    padding: 1rem;
    opacity: 0;
    transition: opacity .3s ease;
}

.mobile-nav__nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__nav-items li {
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

.mobile-nav__nav-items li:not(:last-child){
    border-bottom: 1px solid rgba(139, 195, 74, 0.3);
}

.mobile-nav__nav-items li a {
    text-decoration: none;
    color: #8BC34A;
}

.mobile-nav-visible {
    opacity: 1;
    transition: opacity .3s ease;
}

/* Header Showcase */
.header__showcase {
    color: white;
    position: absolute;
    top: 35%;
    left: 7%;
}

.header__showcase > *:not(.header__showcase__btn) {
    margin: 2rem 0;
}

.header__showcase__heading {
    text-transform: uppercase;
    font-size: 1.75rem;
}

.header__showcase__slogan {
    text-transform: uppercase;
    font-size: 4.5rem;
}

.header__showcase__btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.75rem;
    background-color: #8BC34A;
    color: white;
    padding: 1.5rem 2.5rem;
    border-radius: .5rem;
    transition: background-color .3s ease;
}

.header__showcase__btn:hover {
    background-color: white;
    color: #AED581;
    transition: background-color .3s ease;
}

/* Landing Content */
.landing-content__review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    text-align: center;
}

.landing-content__review h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.landing-content__review p {
    font-size: 1.5rem;
}

/* Landing Content - Offerings */
.landing-content__offerings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 1rem 7rem;
    margin-bottom: 3rem;
}

.option {
    margin: 0 1rem;
}

.option > * {
    margin: 1rem 0;
}

.option__image {
    height: 35rem;
    width: 100%;
    border-radius: .5rem;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
    transition: all .2s;
}

.option__image:hover {
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
    transition: all .2s;
}

.option__image.image1 {
    background: url('/assets/img/catering.jpg') center center/cover;
}

.option__image.image2 {
    background: url('/assets/img/doordash.jpg') center center/cover;
}

.option__image.image3 {
    background: url('/assets/img/tacos.jpg') center center/cover;
}


.option__heading {
    font-size: 3rem;
}

.option__heading a {
    text-decoration: none;
    color: black;
}

.option__description {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

/* Menu Page */
.menu {
    margin: 3rem 0;
    padding: 0 5rem;
}

.menu__category {
    margin: 1rem 0;
}

.category-title {
    font-size: 3rem;
    text-align: center;
    margin: 4rem 0;
}

.category-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.category-items__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 1rem;
    margin: 1.5rem;
}

.category-items__item:hover {
    color: #8BC34A;
    cursor: pointer;
}

.category-items__item h3 {
    font-size: 2rem;
}

.category-items__item h4 {
    font-size: 1.5rem;
}


/* Footer */
footer {
    background-color: black;
    padding: 3rem 0;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 6rem;
    font-family: 'Chango', cursive, 'san-serif';
}

.footer-nav__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav__logo-container i {
    color: #F44336;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.footer-nav__logo-container h1 {
    font-size: 2.5rem;
    color: #8BC34A
}

.footer-nav__nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-nav__nav-items li {
    color: white;
}

.footer-nav__nav-items li a {
    text-decoration: none;
    color: white;
    padding: 1rem 2.5rem;
    font-size: 2rem;
}

/* Media Queries */
@media (max-width: 550px) {
    /* Main Nav */
    .main-nav__logo-container h1 {
        font-size: 2.5rem;
    }

    .main-nav__nav-items {
        display: none;
    }

    .main-nav__mobile-toggle {
        display: block;
    }

    /* Header Showcase */
    .header__showcase {
        top: 20%;
    }

    .header__showcase__heading {
        line-height: 3.5rem;
    }

    .header__showcase__slogan {
        font-size: 4rem;
    }

    .header__showcase__btn {
        margin-top: 2rem;
        font-size: 2rem;
    }

    /* Landing Content */
    .landing-content__review h2 {
        font-size: 1.5rem;
    }

    /* Landing Content - Offerings */
    .landing-content__offerings {
        grid-template-columns: 1fr;
    }

    .option {
        margin: 1rem 0;
    }

    /* Menu Page */
    .menu {
        padding: 0 1.5rem;
    }

    .category-items {
        grid-template-columns: 1fr;
    }

    .category-items__item {
        margin: 1.75rem 1rem;
    }


    /* Footer */
    .footer-nav {
        padding: 0 5rem;
    }

    .footer-nav__logo-container h1 {
        font-size: 2rem;
    }
    
    .footer-nav__nav-items {
        flex-direction: column;
    }

    .footer-nav__nav-items li  {
        padding: 1rem 0;
    }
}